.navbar-brand {
	padding-top: 8px;
}
.card-title{
	padding-top: 10px;
}

.card{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}