.navbar-brand {
	padding-top: 8px;
}
.card-title{
	padding-top: 10px;
}

.card{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.sj-titulo-card{
	float: left;
	padding-top: 2px;
}

.sj-link-card{
	float: right;
	padding: 1%;
}

.is-invalid {
  border: 2px solid red; 
}

.btnConfirma{
	margin-left: 10px
}




